a {
  text-decoration: none;
  color: #f9f7f0;
}

.nav-link {
  color: #f9f7f0;
  background-color: #178ca4;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

body {
  background-image: url(https://i.ibb.co/ynYXwCm/teal-Background.png);
  display:grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,177,223,1) 0%, rgba(82,229,231,0.8687850140056023) 60%);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 6);
  opacity: 0.95;        
}

.bg-body {
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px white;
}

.cachorrito {
  margin: 2rem;
  padding: 2rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  text-align: center;
  color: #072a40;
  background-color: #f9f7f0;
  animation: pulse;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.introCard {
  margin: 2rem;
  padding: 2rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  text-align: center;
  color: #072a40;
  background-color: #f9f7f0;
  animation-name: todd_card;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 20s;
  animation-delay: 0.3s;
  }

footer {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,177,223,1) 0%, rgba(82,229,231,0.8687850140056023) 60%);
  color: #f9f7f0;
  opacity: 0.95;
  box-shadow: 0px 4px 12px 3px black;
}

/* Keyframes */

@keyframes todd_card {
  0% {rotate:0deg}
  25%{rotate:20deg}
  50%{rotate:0deg}
  75%{rotate:-20deg}
  100% {rotate:0deg}
}  
