a {
  text-decoration: none;
  color: #f9f7f0;
}

.nav-link {
  color: #f9f7f0;
  background-color: #178ca4;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

body {
  background-image: url(https://i.ibb.co/cNkQx6p/backgroundpawsv2.png);
  background-repeat: no-repeat;
  background-size: cover;
  display:grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {    
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,177,223,1) 0%, rgba(155, 242, 243, 0.869) 60%);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 6);
  opacity: 0.75;        
}

.cachorrito {
  margin: 1rem;
  padding: 1rem;
  height: 100%;
  max-width: 500px;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  text-align: center;
  color: #072a40;
  background-color: #f9f7f0;
}

.cachorrito__nombre {
  padding: 1rem;
}

.intro {
  color:black;
}

.intro--header {
  color:#0a3752;
}

.introCard {
  margin: 1rem;
  padding: 1rem;
  height: 100%;
  max-width: 100%;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  text-align: center;
  color: #072a40;
  background-color: #f9f7f0;
  }

.introCard--text {
  padding: 0.5rem;   
}

footer { 
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,177,223,1) 0%, rgba(82,229,231,0.8687850140056023) 60%);
  height: 100%;
  color: black;
  opacity: 0.70;
  box-shadow: 0px 4px 12px 3px black;
}


/* Keyframes 
@keyframes todd_card {
  0% {rotate:0deg}
  25%{rotate:20deg}
  50%{rotate:0deg}
  75%{rotate:-20deg}
  100% {rotate:0deg}
*/

