.card {
@include card;

    .card--name {
        color: $hero-text; 

        .introCard--text {
            padding: 0.5rem;   
            }   
    }
}

.gallery--title {
    color: $background-color;
}