.intro {
    color: map-get($colors, text-color);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;   

        .intro--header {
        background-color: $primary-banner; 
        padding-left: 0.5rem;
        margin-bottom: 0;                                    
        }

        .intro--content {
            background-color: $secondary-banner;         
            padding: 1rem;    
        }           
}    

.carousel {
    padding: 0;
}

