footer { 
    background: $footer-gradient;
    height: 100%;
    opacity: 0.70;
    box-shadow: $box-shadow;
    color: white;  
};

/*#### Revisar Maps.scss #### No quise borrar este Map, porque me gusto hacerlo y me parecio interesante, si le damos un color distinto a cada logo en el Map, lo vemos funcionar en el footer.  */
/* Uso del Map con @each*/

@each $icon, $color in $net-colors {
    .#{$icon} {
        color: $color;
    }
}