header {    
    background: $header-gradient;
    opacity: 0.90;
    box-shadow: $shadow;  
    
        .nav-item {
            background-color: $background-color;
            box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
            border-radius: 15px;  
            color: $link-color; 
            list-style: none;   
                        
                a {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: clip;
                text-decoration: none;
                list-style: none;
                color: $link-color;
                    &:hover {
                        color: $link-color;
                    }
                }              
        }  
    }  

    .bi.bi-list {
        color: $link-color;
    }

    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }

/* No me agradaba que los botones de la navbar ocupen el 100% del Viewport en el menu hamburguesa por lo cual lo centre de esta forma.*/    
@media (max-width: 768px) {   
    .nav-item {
        width: 50%;
        transform: translatex(50%);
    } 
}
